@model IEnumerable<Grade>
@foreach (var grade in Model) {
    <div class="border border-1 border-dark m-2 p-2 rounded-3 bg-secondary text-light">
        <p>@grade.Student.FirstName @grade.Student.LastName</p>
        <p>@grade.Subject.Name @grade.What @grade.Mark </p>
        <p>@grade.Date.ToShortDateString()</p>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id=@grade.Id>Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id=@grade.Id>Delete</a>
    </div>
}
<div class="justify-content-center m-2">
        <a class="btn btn-primary" asp-action="Create">Create</a>
    </div>
